.CVMain{
    
    margin: 15%;
    
    background-color: rgba(0, 0, 0, 0.7);
    
    
}

.CVMain h1{
    margin: 20px;font-family: 'Sacramento',
    cursive;
    font-size: 7rem;
}
.CVMain h2{
    font-family: 'Montserrat',
    sans-serif;
    font-size: 3.5rem;
}